
@{
    ViewData["Title"] = "Feedback";
}
@model FeedbackDto
<h2>Provide us your feedback</h2> 
<hr/>
<br/>

<form asp-action="SubmitFeedback" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Type" class="control-label">Choose feedback type</label>
        <select asp-for="Type" asp-items="Html.GetEnumSelectList<FeedbackType>()" class="form-control">
        </select>
        <span asp-validation-for="Type" class="text-danger"></span>
    </div>
    <div class="form-group hide-if-anon">
        <label asp-for="Name" class="control-label">Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group hide-if-anon">
        <label asp-for="Email" class="control-label">Email</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Comments" class="control-label">Comments</label>
        <textarea asp-for="Comments" class="form-control"></textarea>
        <span asp-validation-for="Comments" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Anonymous" class="control-label">
            <input asp-for="Anonymous" id="anon-checkbox" /> Stay Anonymous
        </label>
        <span asp-validation-for="Anonymous" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary" />
    </div>
</form>

<script>
    var anonCheck = document.getElementById("anon-checkbox");
    function initHidingFields() {
        var elements = document.getElementsByClassName("hide-if-anon");
        if (anonCheck.checked) {
            Array.from(elements).forEach((element) => element.classList.add("hidden"));
        } else {
            Array.from(elements).forEach((element) => element.classList.remove("hidden"));
        }
    }
    initHidingFields();
    anonCheck.addEventListener("change", () => initHidingFields());
</script>
<style>
    .hidden {
        display: none;
    }
</style>

